<!DOCTYPE html/>
<html>
	<head>
		<meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="author" content="LegGnom" />
		<title>{% block title %} Twig: Документация {% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/responsive-style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/sys.css">
        <link rel="stylesheet" type="text/css" href="/static/font/animation.css">
        <link rel="stylesheet" type="text/css" href="/static/font/fontello.css">
        
        <link rel="stylesheet" href="/static/highlight/styles/default.css">
		<script src="/static/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>

        <script src="/static/font/font.js" type="text/javascript"></script>
        <script src="/static/js/jq.js" type="text/javascript"></script>
        <script src="/static/js/lib.js" type="text/javascript"></script>
        <script src="/static/js/main.js" type="text/javascript"></script>
	</head>
	<body>

		<div class="header">
			<div class="wrap">
				{% include 'blocks/header.twig' with {'menu' : menu} %}
			</div>
		</div>

		<div class="wrap">
			<div class="box">
				<div class="m-box">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>