{% extends "base.twig" %}

{% block content %}
	<h3 class="h-name">Twig это современный шаблонизатор для PHP</h3>

	<ul>
		<li>
			<b>Быстрый</b>: Twig <i>компилирует</i> шаблоны в оптимизированный PHP код. Использование памяти по сравнению с обычным PHP кодом сведено к минимуму.
		</li>
		<li>
			<b>Безопасный</b>: Twig имеет режим <i>"песочницы"</i> для оценки "ненадежного" кода в шаблонах. Это позволяет использовать Twig в приложениях, где пользователи могут менять содержимое шаблонов.
		</li>
		<li>
			<b>Гибкий</b>: Twig использует гибко настраиваемые <i>лексический</i> и <i>грамматический</i> анализаторы. Это позволяет разработчику определять свои теги и фильтры, создавать собственный DSL.
		</li>
	</ul>



	<h3 class="h-name">Зачем нужен еще один шаблонизатор?</h3>
	<p>Twig использует гибко настраиваемые лексический и грамматический анализаторы. Это позволяет разработчику определять свои теги и фильтры, создавать собственный DSL.</p>

	<ol>
		<li>
			<b>Краткость</b>:Язык PHP многословен и даже слишком многословен, когда надо экранировать вывод данных:
			<pre class="php">
				<code class="code-style">
&lt;?php echo $var ?&gt;
&lt;?php echo htmlspecialchars($var, ENT_QUOTES, 'UTF-8') ?&gt;
				</code>
			</pre>
			<p>Twig имеет более лаконичный синтаксис, который позволяет легко читать шаблоны:</p>
			<pre>
				<code class="code-style">
&#123;&#123; var &#125;&#125;
&#123;&#123; var|escape &#125;&#125;
&#123;&#123; var|e &#125;&#125;         &#123;# сокращение для escape #&#125;
				</code>
			</pre>
		</li>
		<li>
			<b>Ориентированный на шаблоны синтаксис</b>:Twig имеет сокращения для многих общих паттернов, например, отображение текста по умолчанию, если вы перебираете пустой массив:
			<pre>
				<code class="code-style">
&#123;% for user in users %&#125;
	* &#123;&#123; user.name &#125;&#125;
&#123;% else %&#125;
	Пользователи не найдены.
&#123;% endfor %&#125;
				</code>
			</pre>
		</li>

		<li>
			<b>Полнофункциональный</b>:Twig поддерживает все, что вам надо для использования шаблонов: множественное наследование, блоки, автоматическое экранирование и многое другое:
			<pre>
				<code class="code-style">
&#123;% extends "layout.html" %&#125;

&#123;% block content %&#125;
	Содержимое страницы...
&#123;% endblock %&#125;
				</code>
			</pre>
		</li>
		<li>
			<b>Легок в изучении</b>:Синтаксис просто изучить и оптимален для верстальщиков, что позволяет им быстро выполнять свою работу.
		</li>
	</ol>

	<p>Конечно, для PHP написано большое число шаблонизаторов. Но большинство из них написаны под PHP4 и не используют лучшие практики разработки:</p>

	<ol>
		<li><b>Расширяемость</b>:Twig - гибкий движок для любых ваших потребностей, даже самых сложных. Благодаря открытой архитектуре, вы можете определять новые языковые конструкции (тэги и фильтры) для создания своего собственного DSL.</li>
		<li><b>Юнит-тестирование</b>:Twig полностью покрыт тестами. Библиотека стабильна и готова к использованию в больших проектах.</li>
		<li><b>Документация</b>:Twig полностью документирован, вся документация доступна на сайте, и, конечно, имеет полное описание API.</li>
		<li>
			<b>Безопасность</b>:В отношении безопасности, Twig имеет несколько совершенно уникальных особенностей:
			<ol>
				<li>
					Автоматическое экранирование вывода:Для безопасного вывода данных, вы можете включить экранирование как глобально, так и для отдельных блоков:
					<pre>
						<code class="code-style">
&#123;% autoescape on %&#125;
&#123;% var %&#125;
&#123;% var|safe %&#125;     &#123;# var не экранируется #&#125;
&#123;% var|escape %&#125;   &#123;# var не экранируется дважды #&#125;
&#123;% endautoescape %&#125;
						</code>
					</pre>
				</li>
				<li>
					Песочница:Twig позволяет использовать для любого шаблона "песочницу", где пользователи имеют ограниченный набор тэгов, фильтров и методов объектов, определенных разработчиком. Режим "песочницы" может быть включен как глобально, так и локально, для определенных шаблонов:
					<pre>
						<code class="code-style">
&#123;&#123; include "user.html" sandboxed &#125;&#125;
						</code>
					</pre>
				</li>
			</ol>
		</li>
		<li>
			<b>Чистые сообщения об ошибках</b>:Каждый раз, когда у вас возникают синтаксические ошибки в шаблоне, Twig выводит сообщение о имени файла с ошибкой и номере строки, которая ее вызвала. Это очень упрощает отладку.
		</li>
		<li>
			<b>Быстрый</b>:Одна из целей создания Twig - сделать его таким быстрым как только можно. Для достижения максимальной скорости работы, Twig компилирует шаблоны в оптимизированный PHP код. Использование памяти по сравнению с обычным PHP кодом сведено к минимуму.
		</li>
	</ol>
	<h3 class="h-name">Кто создал Twig?</h3>
	<p>Twig написан <a href="http://fabien.potencier.org/">Fabien Potencier</a>, создателем фреймворка <a href="http://www.symfony-project.org/">Symfony</a>. Twig распространяется по новой лицензии BSD.</p>
{% endblock %}