{% extends "base.twig" %}

{% block content %}
<div class="box">
	<div class="m-box">
		<h1 class="page-name">Twig документация</h1>

		<ul>
			<li><a href="/{{ page.url }}/intro/">Введение / Установка</a></li>
			<li><a href="/{{ page.url }}/templates/">Twig для разработчиков шаблонов</a></li>
			<li><a href="/{{ page.url }}/api/">Twig для програмистов</a></li>
			<li><a href="/{{ page.url }}/advanced/">Расширения в Twig</a></li>
			<li><a href="/{{ page.url }}/internals/">Внутренности Twig</a></li>
			<li><a href="/{{ page.url }}/recipes/">Примеры</a></li>
			<li><a href="/{{ page.url }}/coding_standards/">Оформление кода</a></li>
			<li><a href="/api/">API</a></li>
			<li><a href="/{{ page.url }}/extensions/">Дополниельные расширения в репозитории</a></li>

		</ul>

		<h3>По именам</h3>
		<ul>
			<li>
				<h5>Теги</h5>
				<ul>
					<li><a href="/tags/autoescape/">autoescape</a></li>
					<li><a href="/tags/block/">block</a></li>
					<li><a href="/tags/do/">do</a></li>
					<li><a href="/tags/do/">embed</a></li>
				</ul>
			</li>
		</ul>

	</div>
</div>
{% endblock %}