{% extends "base.twig" %}

{% block title %}TWIG для разработчиков шаблонов{% endblock %}

{% block content %}

	<h1 class="page-name">TWIG для разработчиков шаблонов</h1>
	
	<p>Этот документ описывает синтаксис и семантику шаблона и будет наиболее полезен как ссылка для тех, кто создает шаблоны TWIG.</p>

	<h3>Краткий обзор</h3>
	<p>Шаблон - это просто текстовый файл. Он может генерировать любой текстовый формат (HTML, XML, CSV, Latex, и т.д.). Он не обязан иметь особого  расширения, .html, или .xml расширения подойдут.</p>
	<p>Шаблон содержит переменные или выражения, которые будут заменяться значениями, когда шаблон вычисляется, и теги, которые контролируют логику шаблона.</p>
	<p>Ниже приводится минимальный шаблон, который иллюстрирует основы. Мы рассмотрим детали позже:</p>


	{{ code("
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <ul id='navigation'>
        {% for item in navigation %}
            <li><a href='{{ item.href }}'>{{ item.caption }}</a></li>
        {% endfor %}
        </ul>

        <h1>My Webpage</h1>
        {{ a_variable }}
    </body>
</html>
		") }}

	<p>Есть два вида разделителей: &#123;% ... %&#125; И &#123;&#123; ... &#125;&#125;. Первый из них используется для выполнения операторов, таких как for-циклы , последний печатает результат выражения в шаблон.</p>

	<h3>Интеграция со средами разработки.</h3>
	<p>Многие среды разработки поддерживают подсветку синтаксиса и автодополнение для TWIG.</p>
	<ul>
		<li>Textmate  с помощью <a href="https://github.com/Anomareh/PHP-Twig.tmbundle">Twig bundle</a></li>
		<li>Vim с помощью Jinja syntax plugin или <a href="https://github.com/Anomareh/PHP-Twig.tmbundle">vim-twig plugin</a></li>
		<li>Netbeans с помощью  <a href="http://plugins.netbeans.org/plugin/37069/php-twig">Twig syntax plugin</a> (до версии 7.1, нативно , начиная с версии 7.2)</li>
		<li>PhpStorm (нативно , начиная с версии 2.1)</li>
		<li>Eclipse с помощью  <a href="https://github.com/pulse00/Twig-Eclipse-Plugin">Twig plugin</a></li>
		<li>Sublime Text с помощью  <a href="https://github.com/Anomareh/PHP-Twig.tmbundle">Twig bundle</a></li>
		<li>GtkSourceView с помощью  <a href="https://github.com/gabrielcorpse/gedit-twig-template-language">Twig language definition</a> (используется в gedit и других проектах)</li>
		<li>Coda иSubEthaEdit с помощью  <a href="https://github.com/bobthecow/Twig-HTML.mode">Twig syntax mode</a></li>
		<li>Coda 2 с помощью  other <a href="https://github.com/muxx/Twig-HTML.mode">Twig syntax mode</a></li>
		<li>Komodo и Komodo Edit с помощью  Twig highlight/syntax check mode</li>
		<li>Notepad++ с помощью  <a href="https://github.com/Banane9/notepadplusplus-twig">Notepad++ Twig Highlighter</a></li>
		<li>Emacs с помощью  <a href="http://web-mode.org/">web-mode.el</a></li>
	</ul>

	<h3>Переменные</h3>
	<p>Приложение передает переменные, с которыми вы можете работать в шаблоне. Переменные могут иметь аттрибуты или элементы к которым вы можете иметь доступ. Как выглядит переменная определяется приложением, которое ее предоставило. Вы можете использовать точку (.) чтобы получить доступ  к  аттрибутам переменной (методы или свойства PHP-объекта или элементы PHP-массива), или так называемый индекс ([]):</p>

	{{ code ("
{{ foo.bar }}
{{ foo['bar'] }}
		") }}

	<p>Когда аттрибут содержит специальные символы (такие как - что будет интерпретировано как оператор вычитания  ), используйте функцию attribute вместо доступа к аттрибуту переменной.</p>

	{{ code("
{# equivalent to the non-working foo.data-foo #}
{{ attribute(foo, 'data-foo') }}
		") }}

	<blockquote>
		Важно знать,что фигурные скобки не являются переменной, а печатают предложение.<br/>
		Если вы хотите получить доступ к переменным внутри тегов, не ставьте скобки.  
	</blockquote>

	<p>Если переменная или аттрибут не существует, вы получите значение null , когда опция strict_variables установлена false, в обратном случае Twig выбросит ошибку.</p>


	{% 
		include 'blocks/quote.twig'
		with {'text': "
			<h3>Реализация</h3>
			<p>Для удобства foo.bar делает следующие вещи на уровне PHP:</p>
			<ul>
				<li>проверяет является ли foo массивом и bar верным выражением;</li>
				<li>если нет, и foo является объектом, проверяется что bar является допустимым свойством</li>
				<li>если нет, и foo является объектом, проверяется что bar является допустимым методом (даже если bar является конструктором - используйте use __construct() вместо этого)</li>
				<li>если нет, и foo является объектом, проверяется что getBar является допустимым методом</li>
				<li>если нет, и foo является объектом, проверяется что isBar является допустимым методом</li>
				<li>если нет, то возвращает значение null</li>
			</ul>
			<p>С другой стороны, foo['bar'] работает только с массивами PHP:</p>
			<ul>
				<li>проверяется, является ли foo массивом и bar допустимым элементом</li>
	    		<li>если нет , то возвращает значение null</li>
			</ul>
		"}
	%}
	

	{% 
		include 'blocks/quote.twig'
		with {'text': "Если вы хотите получить динамический аттрибут для переменной, используйте функцию attribute  вместо этого."}
	%}


	<h3>Глобальные переменные</h3>
	<p>Следующие переменные всегда доступны в шаблонах:</p>

	<ul>
		<li>_self:       ссылается на текущий шаблон;</li>
		<li>_context:  ссылается на текущий контекст;</li>
		<li>_charset: ссылается на текущую кодировку.</li>
	</ul>

	<h3>Присвоение переменных</h3>
	<p>Вы можете придать значения переменных внутри блоков кода. Присвоения используют тег set :</p>

	{{ code("
{% set foo = 'foo' %}
{% set foo = [1, 2] %}
{% set foo = {'foo': 'bar'} %}
		") }}

	<h3>Фильтры</h3>
	<p>Переменные могут быть изменены с помощью фильтров filters. Фильтры отделяются от переменных с помощью pipe-символа  (|) и могут иметь дополнительные аргументы  в скобках. Можно объединять несколько фильтров. Выход одного фильтра направляется в следующий.</p>
	<p>Следующий пример удаляет все HTML-теги и title из name:</p>
	
	{{ code("
{{ name|striptags|title }}
		") }}

	<p>Фильтры, которые принимают аргументы,имеют круглые скобки вокруг аргументов. Этот пример присоединит список, разделенный запятой.</p>

	{{ code("{{ list|join(', ') }}") }}

	<p>Чтобы применить фильтр для секции в коде, оберните его с тегом <a href="/filters/">filter</a>:</p>
	{{ code("
{% filter upper %}
    This text becomes uppercase
{% endfilter %}
	") }}

	<p>Чтобы узнать больше о встроенных фильтрах зайдите на страницу <a href="/filters/">filters</a>.</p>


	<h3>Функции</h3>
	<p>Можно вызывать функции чтобы генерировать контент. Функции могут быть вызваны по имени со скобками после него и могут иметь аргументы.</p>
	<p>Например, функция range возвращает список, содержащий арифметическую прогрессию целых чисел:</p>
	{{ code("
{% for i in range(0, 3) %}
    {{ i }},
{% endfor %}
	") }}

	<p>Чтобы узнать больше о встроенных функциях зайдите на страницу <a href="/functions/">functions</a>.</p>

	<h3>Именованные аргументы</h3>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Поддержка для именованных аргументов была добавлена в Twig 1.12."}
	%}

	{{ code("
{% for i in range(low=1, high=10, step=2) %}
    {{ i }},
{% endfor %}
	") }}
	<p>Использование именованных аргументов помогает понять значение переменных, которые вы передаете как аргументы.</p>
	{{ code("
{{ data|convert_encoding('UTF-8', 'iso-2022-jp') }}

{# versus #}

{{ data|convert_encoding(from='iso-2022-jp', to='UTF-8') }}
	") }}
	<p>Именованные аргументы также позволяют пропустить некоторые аргументы, для которых вы не хотите изменять значение по умолчанию:</p>
	{{ code('
{# the first argument is the date format, which defaults to the global date format if null is passed #}
{{ "now"|date(null, "Europe/Paris") }}

{# or skip the format value by using a named argument for the timezone #}
{{ "now"|date(timezone="Europe/Paris") }}
	') }}
	<p>Вы также можете использовать позиционные и именованные аргументы в одном вызове, и в этом случае позиционные аргументы должны  идти впереди именованных аргументов.</p>
	{{ code('
{{ "now"|date("d/m/Y H:i", timezone="Europe/Paris") }}
	') }}


	{% 
		include 'blocks/quote.twig'
		with {'text': "Каждая страница документации по функция и фильтрам имеет раздел, где имена всех аргументов выписаны, если они поддерживаются."}
	%}

	<h3>Управляющая структура</h3>
	<p>Управляющая структура относится к тем вещам, которые управляют программой - условия (i.e. if/elseif/else), for-циклы и блоки. Управляющая структура появляется внутри блоков {{ '{% ... %}'|e }}.</p>
	<p>Например, чтобы показать список всех пользователей, которые записаны в переменной users , используйте тег <a href="/tags/for/">for</a>:</p>

	{{ code("
<h1>Members</h1>
<ul>
    {% for user in users %}
        <li>{{ user.username|e }}</li>
    {% endfor %}
</ul>
	") }}

	<p>Тег  if можно использовать чтобы проверить выражение:</p>
	{{ code("
{% if users|length > 0 %}
    <ul>
        {% for user in users %}
            <li>{{ user.username|e }}</li>
        {% endfor %}
    </ul>
{% endif %}
	") }}

	<p>Чтобы узнать больше о встроенных тегах зайдите на страницу <a href="/tags/">tags</a>.</p>

	<h3>Комментарии</h3>
	<p>Чтобы закомментировать часть строки шаблона, используйте комментарий {{ '{# ... #}'|e }}. Это полезно для отладки или для добавления информации для других разработчиков или для себя:</p>
	{{ code("
{# note: disabled template because we no longer use this
    {% for user in users %}
        ...
    {% endfor %}
#}
	") }}


	<h3>Включение других шаблонов</h3>
	<p>Тэг <a href="/tags/include/">include</a> используется для включения шаблона и включению использованного контента к текущему:</p>
	{{ code("
{% include 'sidebar.html' %}
	") }}
	<p>По умолчанию включенные шаблоны передаются в текущий контекст.</p>
	<p>Контекст, который передается во включенный шаблон включает переменные, определенные в шаблоне:</p>
	{{ code('
{% for box in boxes %}
    {% include "render_box.html" %}
{% endfor %}
	') }}

	<p>Включенный шаблон  render_box.html может получить доступ к box.</p>
	<p>Имя файла шаблона зависит от загрузчика шаблона. Например, Twig_Loader_Filesystem позволяет получить доступ к другим шаблонам по имени. Вы можете включить шаблоны в ниже лежащих директориях используя знак слэша:</p>
	{{ code('
{% include "sections/articles/sidebar.html" %}
	') }}
	<p>Это поведение зависит от приложения, в которое встраивается Twig.</p>

	<h3>Наследование шаблонов</h3>
	<p>Наиболее мощное средство Twig это наследование шаблонов. Оно позволяет вам построить базовый “скелет” шаблона,который содержит все общие элементы вашего сайта и определяет блоки, которые дочерние шаблоны могут замещать.</p>
	<p>Звучит сложно, но на самом деле все очень просто. Это легко понять с помощью следующего примера. </p>
	<p>Давайте определим базовый шаблон, base.html, который определяет простой HTML скелетный документ, который вы можете использовать для простой страницы с двумя колонками:</p>
	{{ code('
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>
	') }}
	<p>В этом примере, теги block определяют четыре блока , которые дочерние шаблоны могут занять. Все , что делает тег block это то, что он говорит механизму шаблонов,что ребенок может замещать те части шаблона.</p>
	<p>Шаблон-ребенок может выглядеть так:</p>
	{{ code('
{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}
	') }}
	<p>Тег extends  очень важен здесь. Он говорит механизму шаблонов, что этот шаблон “расширяет” другой шаблон. Когда система шаблонов вычисляет этот шаблон, сначала он ищет родителя. Тег extends  должен быть первым тегом в шаблоне. Следует заметить, что так как шаблон-ребенок не определяет блок footer , используется значение из родительского шаблона.</p>
	<p>Возможно передать содержание родительского шаблона используя функцию parent.</p>
	<p>Это дает результаты родительского блока:</p>
	{{ code('
{% block sidebar %}
    <h3>Table Of Contents</h3>
    ...
    {{ parent() }}
{% endblock %}
	') }}

	{% 
		include 'blocks/quote.twig'
		with {'text': "Страница документации для тега extends  описывает более сложные особенности , такие как вложенные блоки, области видимости, динамическое наследование и условное наследование."}
	%}
	{% 
		include 'blocks/quote.twig'
		with {'text': "Twig также поддерживает множественное наследование с так называемым горизонтальным повторным использованием с помощью тега use. Эта сложная особенность вряд ли понадобится в обычных шаблонах."}
	%}
	
	<h3>Экранирование HTML</h3>
	<p>При генерации HTML из шаблонов всегда есть риск , что переменная будет включать символы, которые будут влиять на конечный HTML. Существует два подхода: вручную сохранять каждую переменную или автоматически сохранить все по умолчанию.</p>
	<p>Twig поддерживает оба, автоматическое сохранение включено по умолчанию.</p>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Автоматическое сохранение поддерживается только если расширение escaper включено (что так и есть по умолчанию)."}
	%}

	<h3>Работа с экранированием вручную</h3>
	<p>Если сохранение вручную включено, это ваша обязанность сохранить все переменные если это нужно. Что нужно сохранить? Все переменные, которым вы не доверяете.</p>
	<p>Сохранение работает , если пропустить переменную через escape  или e фильтр:</p>
	{{ code('
{{ user.username|e }}
	') }}
	<p>По умолчанию, фильтр escape использует html метод, но в зависимости от сохраняемого контекста, вы возможно захотите использовать другие методы:</p>
	{{ code("
{{ user.username|e('js') }}
{{ user.username|e('css') }}
{{ user.username|e('url') }}
{{ user.username|e('html_attr') }}
	") }}

	<h3>Автоматическое экранирование</h3>
	<p>Вне зависимости от того, включено ли автоматическое сохранение или нет, вы можете выделить секцию шаблона, которую нужно или не нужно сохранить, используя тег autoescape:</p>
	{{ code('
{% autoescape %}
    Everything will be automatically escaped in this block (using the HTML strategy)
{% endautoescape %}
	') }}
	<p>По умолчанию, авто-сохранение сохраняет html. Если выводить переменные в других контекстах, нужно явно сохранить их, используя подходящий метод:</p>
	{{ code("
{% autoescape 'js' %}
    Everything will be automatically escaped in this block (using the JS strategy)
{% endautoescape %}
	") }}

	<h3>Экранирование</h3>
	<p>Иногда желательно или даже необходимо заставить Twig игнорировать те части, которые в противном случае он воспримет как переменные или как блоки.</p>
	 
	<p>Например, если синтаксис по умолчанию используется, и вы хотите использовать {{'{{'}} качестве исходного строки в шаблоне, а не начать переменную ,вы должны использовать трюк.</p>

	<p>Самым простым способом для вывода переменной разделитель ({{'{{'}}) является использование выражения:</p>
	{{ code("
{{ '{{' }}
	") }}

	<h3>Макросы</h3>
	{% 
		include 'blocks/quote.twig'
		with {'text': "поддержка значений аргументов была добавлена по умолчанию в Twig 1.12."}
	%}
	<p>Макросы сравнимы с функциями в обычных языках программирования. Они полезны для повторного использования часто используемых HTML - фрагментов чтобы не повторять себя. Макрос определяется через  macro  теги. Вот небольшой пример (впоследствии называемый forms.html) макроса, который представлен в виде элемента формы:</p>
	{{ code("
{% macro input(name, value, type, size) %}
    <input type=&quot;{{ type|default('text') }}&quot; name=&quot;{{ name }}&quot; value=&quot;{{ value|e }}&quot; size=&quot;{{ size|default(20) }}&quot; />
{% endmacro %}
	") }}
	<p>Макрос может быть определен в любом шаблоне, и должен быть "импортирован" через тег import  до использования:</p>
	{{ code("
{% import &quot;forms.html&quot; as forms %}

<p>{{ forms.input('username') }}</p>
	") }}
	<p>Кроме того, вы можете импортировать отдельные имена макросов из шаблона в текущее пространство имен с помощью  from тега или дать им имя:</p>
	{{ code("
{% from 'forms.html' import input as input_field %}

<dl>
    <dt>Username</dt>
    <dd>{{ input_field('username') }}</dd>
    <dt>Password</dt>
    <dd>{{ input_field('password', '', 'password') }}</dd>
</dl>
	") }}
	<p>По умолчанию значение также может быть определено для макро аргументов прямо в вызове макроса:</p>
	{{ code('
{% macro input(name, value = "", type = "text", size = 20) %}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}" />
{% endmacro %}
	') }}
	

	<h3>Выражения</h3>
	<p>Twig позволяет выражения везде. Такая работа очень похожа  на обычный PHP и даже если вы не работаете с PHP, вы почувствуете себя с ним комфортно.</p>
	<h3>Макросы</h3>
	{% 
		include 'blocks/quote.twig'
		with {'text': "поддержка значений аргументов была добавлена по умолчанию в Twig 1.12."}
	%}


	{% set cod = code("
{% set greeting = 'Hello' %}
{% set name = 'Fabien' %}

{{ greeting ~ name|lower }}   {# Hello fabien #}

{# use parenthesis to change precedence #}
{{ (greeting ~ name)|lower }} {# hello fabien #}
	", true) %}

	{% 
		include 'blocks/quote.twig'
		with {'text': "Приоритет операторов выглядит следующим образом, начиная с самых низко-приоритетных операторов:b-and, b-xor, b-or, or, and, ==,!=, <, >, >=, <=, in, matches, starts with, ends with, .., +, -, ~, *, /, //, %, is, **, |, [], and .:
		#{cod}
		"}
	%}

	<h3>Литеры</h3>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Поддержка для хэш ключей как имен и выражений была добавлена в Twig 1.5."}
	%}
	<p>Самой простой формой выражений являются литералы. Литералы представлены для таких типов PHP, как строки, числа и массивы. Существуют следующие литералы:</p>
	<ul>
		<li>"Hello World" : Все между двумя двойными или одинарными кавычками является строкой. Они полезны, когда вам нужна  строка в шаблоне (например, как аргументы  функций,фильтры или для того чтобы просто расширить или включить шаблон). Строка может содержать разделитель, если ему предшествует обратный слеш  (\) -- как в  'It\'s good'</li>
		<li>42 / 42,23: Целые числа и числа с плавающей точкой создаются написанием чисел . Если точка есть в числе то это float, в противном случае integer.</li>
		<li>["foo", "bar"]: Массивы определяются последовательностью выражений, разделенных запятыми (,) и окруженных квадратными скобками ([]).</li>
		<li>{"foo": "bar"}: Хэши определяется списком ключей и значений, разделенных запятыми (,) и взятых в фигурные скобки ({}):
			{{ code("
{# keys as string #}
{ 'foo': 'foo', 'bar': 'bar' }

{# keys as names (equivalent to the previous hash) -- as of Twig 1.5 #}
{ foo: 'foo', bar: 'bar' }

{# keys as integer #}
{ 2: 'foo', 4: 'bar' }

{# keys as expressions (the expression must be enclosed into parentheses) -- as of Twig 1.5 #}
{ (1 + 1): 'foo', (a ~ 'b'): 'bar' }
			") }}
		</li>
		<li>true/false: true представляет истинное значение, false представляет ложное значение.</li>
		<li>null: null  не представляет  никакого определенного значения. Это значение возвращается, когда переменной не существует. none является синонимом null.</li>
	</ul>
	<p>Массивы и хэши могут быть вложенными:</p>
	{{ code('
{% set foo = [1, {"foo": "bar"}] %}
	') }}
	<p>Использование двойных кавычек или одиночных кавычек не имеет никакого ьвлияния на производительность, но строки интерполяции поддерживается только для строк в двойных кавычках.</p>

	<h3>Вычисления</h3>
	<p>Twig позволяет оперировать значениями. Это редко используется в шаблонах, но существует ради полноты. Поддерживаются следующие операторы:</p>
	<ul>
		<li>+: Добавляет два объекта вместе (операнды преобразованы в числа). {{'{{1 + 1}}'}} равно 2.</li>
		<li>-: Вычитает второе число из первого. {{'{{3 - 2}}'}} равно 1.</li>
		<li>/: Деление двух чисел. Возвращенное значение будет числом с плавающей точкой. {{'{{1/2}}'}} есть {{'{{0,5}}'}}.</li>
		<li>%: Вычисляет остаток от целочисленного деления. {{'{{11% 7}}'}} есть 4.</li>
		<li>/ /: Деление двух чисел и возвращает (в виде дроби) целый результат. {{'{{20 / / 7}}'}} = 2, {{'{{-20 / / 7}}'}} является `` -3 ``</li>
		<li>*: Умножает левый операнд на правый. {{'{{2 * 2}}'}} возвратится 4.</li>
		<li>**: Генерирует левый операнд в степень правого операнда. {{'{{2 ** 3}}'}} возвратится 8.</li>
	</ul>

	<h3>Логика</h3>
	<p>Вы можете объединить несколько выражений со следующими операторами:</p>
	<ul>
		<li>and: Возвращает истину, если левый и правый операнды оба истинны.</li>
		<li>or: Возвращает истину, если левый или правый операнд истинны.</li>
		<li>not: Отрицает выражение.</li>
		<li>(expr): Свертывает выражение.</li>
	</ul>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Twig также поддерживает побитовые операторы (b-and, b-xor, and b-or)."}
	%}

	<h3>Сравнения</h3>
	<p>Следующие операторы сравнения поддерживаются в любом выражении: ==, !=, <,>,> = и <=.</p>
	<p>Вы также можете проверить, если строка начинается или заканчивается другой строкой:</p>
	{{ code("
{% if 'Fabien' starts with 'F' %}
{% endif %}

{% if 'Fabien' ends with 'n' %}
{% endif %}
	") }}

	{% set cod = code("
{% if phone matches '{^[\d\.]+$}' %}
{% endif %}
	", true) %}
	{% 
		include 'blocks/quote.twig'
		with {'text': "Для сложных сравнений строк, оператор matches позволяет вам использовать regular expressions: #{cod}"}
	%}

	<h3>Оператор содержания</h3>
	<p>Оператор in осуществляет проверку содержания.</p>
	<p>Он возвращает true если левый операнд содержится в правом:</p>
	{{ code("
{# returns true #}

{{ 1 in [1, 2, 3] }}

{{ 'cd' in 'abcde' }}
	") }}

	{% 
		include 'blocks/quote.twig'
		with {'text': "Вы можете использовать этот фильтр, чтобы выполнить проверку на содержание со строками, массивами или объектами, осуществляющих Traversable интерфейс."}
	%}
	<p>Чтобы выполнить проверку на то, что левый операнд не содержится в правом, нужно использовать not in оператор.</p>
	{{ code("
{% if 1 not in [1, 2, 3] %}

{# is equivalent to #}
{% if not (1 in [1, 2, 3]) %}
	") }}

	<h3>Операторы проверки</h3>
	<p>Оператор is выполняет тесты. Тесты могут быть использованы для тестирования переменной в отношении общего выражения. Правый операнд является именем теста:</p>
	{{ code("
{# find out if a variable is odd #}

{{ name is odd }}
	") }}
	<p>Тесты также используют аргументы:</p>
	{{ code("
{% if post.status is constant('Post::PUBLISHED') %}
	") }}
	<p>Тесты могут быть инвертированы при использовании is not оператора:</p>
	{{ code("
{% if post.status is not constant('Post::PUBLISHED') %}

{# is equivalent to #}
{% if not (post.status is constant('Post::PUBLISHED')) %}
	") }}
	<p>Перейдите на страницу tests чтобы узнать больше о встроенных тестах.</p>

	<h3>Другие операторы</h3>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Поддержка расширенного тройного оператора была добавлена в Twig 1.12.0."}
	%}
	<p>Следующие операторы очень полезны, но не вписываются ни в какую  из категорий:</p>
	<ul>
		<li>..: Создает последовательность, основанную на операнде до и после оператора.</li>
		<li>|: Применяет фильтр.</li>
		<li>~: Преобразует все операнды в строки и объединяет их. {{ "Hello " ~ name ~ "!" }}  вернется (при условии, имя является «John») Hello John!.</li>
		<li>., []: Получает атрибут объекта.</li>
		<li>? :: Тройной оператор:</li>
	</ul>

	<h3>Строка интерполяции</h3>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Строка интерполяции была добавлена в Twig 1.5."}
	%}
	<p>Строка интерполяция (#{expression}) позволяет любое допустимое выражение появляться в двойных кавычках. Результатом вычисления является то что вставляется в строку:</p>
	{{ code('
{{ "foo #{bar} baz" }}
{{ "foo #{1 + 2} baz" }}
	') }}

	<h3>Управление пробелами</h3>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Контроль пробелов уровней тегов был добавлен в Twig 1.1."}
	%}
	<p>Первый символ новой строки после тэга удаляется автоматически (как в PHP.) Пробелы в дальнейшем не изменили механизма шаблонов, так что каждый пробел (пробелы, табуляции, новые строки и т.д.) возвращаются без изменений.</p>
	<p>Используйте теги spaceless чтобы удалить пробелы между HTML-тегами:</p>
	{{ code("
{% spaceless %}
    <div>
        <strong>foo bar</strong>
    </div>
{% endspaceless %}

{# output will be <div><strong>foo bar</strong></div> #}
	") }}
	<p>В дополнение к тегам без пробелов, вы также можете управлять пробелами на уровне тегов. Используя модификатор управления пробелами для ваших тегов , вы можете убирать начальные или конечные пробелы:</p>
	{{ code("
{% set value = 'no spaces' %}
{#- No leading/trailing whitespace -#}
{%- if true -%}
    {{- value -}}
{%- endif -%}

{# output 'no spaces' #}
	") }}
	<p>Приведенный пример показывает управление модификатором пробелов по умолчанию и то ,как вы можете использовать его для удаления пробелов вокруг тегов. Обрезание пространства удалит все пробелы для одной стороны тега. Возможно использовать обрезание пробелов с одной стороны тега:</p>
	{{ code("
{% set value = 'no spaces' %}
<li>    {{- value }}    </li>

{# outputs '<li>no spaces    </li>' #}
	") }}

	<h3>Расширения</h3>
	<p>Twig может быть легко расширен.</p>
	<p>Если вы ищете новые теги, фильтры или функции, посмотрите это в официальном хранилище расширений Twig extension repository.</p>
	<p>Если вы хотите создать свой собственный, прочтите главу Creating an Extension.</p>



	







{% endblock %}