{% extends "base.twig" %}

{% block title %}Стандарты{% endblock %}

{% block content %}

    <h1>Стандарты</h1>
    <p>При написании шаблонов Twig, мы рекомендуем вам следующие официальные стандарты программирования:</p>
    <ul>
        <li>
            <p>Вставьте один (и только один) пробел после начала разделителя ({{ '{{,{%, и {#' }}) и перед концом разделителя ({{'}},%} и #}'}}):</p>
            {{ code("
{{ foo }}
{# comment #}
{% if foo %}{% endif %}
            ") }}
            <p>При использовании символа управления пробелом, не ставьте пробелов между ним и разделителем:</p>
            {{ code("
{{- foo -}}
{#- comment -#}
{%- if foo -%}{%- endif -%}
            ") }}
        </li>
        <li>
            <p>Поставьте один (и только один) пробел до и после следующих операторов: операторов сравнения (==, !=, <, >, >=, <=), математических операторов (+,-, /, *, %, //, **), логических операторов (not, and, or), ~, is, in,  и трехкомпонентного оператора (?:):</p>
            {{ code("
{{ 1 + 2 }}
{{ foo ~ bar }}
{{ true ? true : false }}
            ") }}
        </li>
        <li>
            <p>Поставьте один (и только один) пробел после: знака в хэшах и , в массивах и хэшах:</p>
            {{ code("
{{ [1, 2, 3] }}
{{ {'foo': 'bar'} }}
            ") }}
        </li>
        <li>
            <p>Не ставьте пробелов после открытия круглой скобки и перед закрытием круглой скобки в выражениях:</p>
            {{ code("{{ 1 + (2 * 3) }}") }}
        </li>
        <li>
            <p>Не ставьте пробелы перед и после разделителей строк:</p>
            {{ code("
{{ 'foo' }}
{{ &#34;foo&#34; }}
            ") }}
        </li>
        <li>
            <p>Не ставьте пробелов перед и после следующих операторов: |, ., .., []:</p>
            {{ code("
{{ foo|upper|lower }}
{{ user.name }}
{{ user[name] }}
{% for i in 1..12 %}{% endfor %}
            ") }}
        </li>
        <li>
            <p>Не ставьте пробелов перед и после круглой скобки, используемой для фильтра и вызовов функций:</p>
            {{ code("
{{ foo|default('foo') }}
{{ range(1..10) }}
            ") }}
        </li>
        <li>
            <p>Не ставьте пробелов перед и после открытия и закрытия массивов и хэшей:</p>
            {{ code("
{{ [1, 2, 3] }}
{{ {'foo': 'bar'} }}
            ") }}
        </li>
        <li>
            <p>Используйте маленькие буквы  и символы подчеркивания в названиях переменных:</p>
            {{ code("
{% set foo = 'foo' %}
{% set foo_bar = 'foo' %}
            ") }}
        </li>
        <li>
            <p>Делайте отступы внутри тегов (используйте тот же самый отступ, который вы использовали для целевого языка предоставленного шаблона):</p>
            {{ code("
{% block foo %}
   {% if true %}
       true
   {% endif %}
{% endblock %}
            ") }}
        </li>
    </ul>

{% endblock %}