{% extends "base.twig" %}

{% block title %}Расширения{% endblock %}

{% block content %}
    <h1>Расширения</h1>
    <p>Twig можно расширить разными способами; вы можете добавить дополнительные теги, фильтры, тесты, операторы, глобальные переменные и функции. Вы даже можете расширить сам парсер с посетителями узла.</p>

{% endblock %}