body{
	font-family: Arial;
}
blockquote{
	margin-bottom: 15px;
	padding: 10px 15px;
	background: #F5F5F5;
}
h1{
	font-size: 40px;
}
h3{
	font-size: 35px;
	margin-top: 40px;
}
h3:nth-child(1){
	margin-top: 0;
}
ul{
	margin-bottom: 10px;
}
.wrap{
	max-width: 900px;
	margin: 0 auto;
}
.h-name{
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 45px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}

.header{
    background: #2d2d2d;
    padding: 3px 0;
}
.header .box{ margin: 0; }

.header-logo:hover,
.header-logo{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
}

.header-menu{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.header-menu > li{
	display: inline-block;
	line-height: 30px;
	margin-right: 15px;
}
.header-menu span{ color: #fff; }
.header-menu a{ color: #8693a0; }
.header-menu a:hover{ color: #fff; }
.header-projects{ line-height: 30px; text-align: right; }
.header-projects .false-link{ color: #8693a0; }

.code-style{
	display: block;
	margin: 15px 0;
	padding: 10px 15px;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 3px;
}


.error-page{
	margin: 40px 0;
}

.error-page h1{
	font-size: 120px;
	line-height: 160px;
	text-align: center;
}
.error-page p{
	text-align: center;
}

.fly-menu{
	position: fixed;
	top: 45px;
	right: 20px;
	margin: 0;
	padding: 10px 15px;
	list-style-type: none;
	border: 1px solid #ccc;
	background: #eee;
}
.fly-menu .active{
	color: #1299DA;
}
.fly-menu li{
	cursor: pointer;
}