{% extends "base.twig" %}

{% block title %}
	Twig:DOC
{% endblock %}

{% block content %}
	<h1 class="page-name">Введение / Установка</h1>

	<p>Это документация для Twig, гибкого, быстрого и безопасного шаблонизатора для PHP.</p>
	<p>
		Если у вас есть какое-либо воздействие на других текстовых языках шаблонов, таких как Smarty, Django, или Джиндже, вы должны чувствовать себя как дома с Twig. Это и дизайнер и разработчик дружелюбны, придерживаясь принципов РНР и добавляя функциональность полезную для шаблонов средах.

		Если у вас есть опыт работы с другими шаблонизаторами, такими как Smarty, Django и Jinja,
	</p>

	<p>Ключевые особенности:</p>
	<ul>
		<li>
			Быстрый : Twig компилирует шаблоны в простом оптимизированного кода PHP. Накладные расходы по сравнению с обычным кодом PHP был сокращен до самого минимума.
		</li>
		<li>
			Безопасность : Twig имеет режим песочницы для оценки ненадежного кода шаблона. Это позволяет ветка будет использоваться в качестве языка шаблонов для приложений, где пользователи могут изменить дизайн шаблона.
		</li>
		<li>
			Гибкая : Сучок питается от гибкой лексере и анализатором. Это позволяет разработчику определить собственные пользовательские теги и фильтры, а также создавать свой ​​собственный DSL.
		</li>
	</ul>
{% endblock %}