{#
	menu: List[
		url: string
		name: string
		active: bool
	]

#}

<div class="box">
	<div class="col1">
		<div class="m-box">
			<a href="/" class="header-logo">Twig:DOC</a>
		</div>
	</div>
	<div class="col3">
		<div class="m-box">
			<ul class="header-menu">
				
				{% for item in menu %}
					<li>
						{% if item.active %}
							<span>{{ item.name }}</span>
						{% else %}
							<a href="/{{ item.url }}/">{{ item.name }}</a>
						{% endif %}
					</li>	
				{% endfor %}

			</ul>
		</div>
	</div>
	<div class="col1">
		<div class="m-box header-projects">
			<span class="false-link">Другие проекты</span>
		</div>
	</div>
</div>