{% extends "base.twig" %}

{% block title %}Примеры{% endblock %}

{% block content %}
    <h1>Примеры</h1>

    <h3>Создание условной разметки</h3>
    <p>Работа с Ajax означает, что одно и то же содержание иногда выводится на экран как есть и иногда снабжается разметкой. Поскольку названия шаблонов разметки Twig могут быть любым допустимым выражением, вы можете передавать переменную, которая принимает значение true, когда запрос сделан через Ajax и вы можете выбрать, соответственно, разметку:</p>
    {{ code('
{% extends request.ajax ? "base_ajax.html" : "base.html" %}

{% block content %}
    This is the content to be displayed.
{% endblock %}
    ') }}
    <h3>Создание динамических включений</h3>
    <p>При включении шаблона не нужно чтобы его название было строкой. Например, название может зависеть от значения переменной:</p>
    {{ code("{% include var ~ '_foo.html' %}") }}
    <p>Если var принимает значение index, то шаблон  index_foo.html будет переведен. По сути дела, название шаблона может быть любым допустимым выражением, таким как следующее:</p>
    {{ code("{% include var|default('index') ~ '_foo.html' %}") }}

    <h3>Замещения шаблона, который является саморасширяющимся</h3>
    <p>Шаблон может быть настроен двумя разными способами:</p>
    <ul>
        <li>Inheritance (наследование): Шаблон расширяет родительский шаблон и переопределяет несколько блоков.</li>
        <li>Replacement (замещение): Если вы используете загрузчик файловой системы, Twig загружает первый шаблон, который он находит в списке сконфигурированных каталогов; шаблон, найденный в каталоге, замещает другой из каталога, идущий далее по списку.</li>
    </ul>
    <p>Но как вы скомбинируете оба: замену шаблона, который также расширяется (как шаблон в каталоге следующий в списке)? Давайте предположим, что ваши шаблоны загружены из .../templates/mysite и .../templates/default в этом порядке. Шаблон page.twig, сохраняемый в  .../templates/default гласит:</p>
    {{ code('
{# page.twig #}
{% extends "layout.twig" %}

{% block content %}
{% endblock %}
    ') }}
    <p>Вы можете заменить этот шаблон, вставив файл с таким же названием в .../templates/mysite. Если вы хотите расширить исходный шаблон, вы возможно  хотели написать следующее:</p>
    {{ code('
{# page.twig in .../templates/mysite #}
{% extends "page.twig" %} {# from .../templates/default #}
    ') }}
    <p>Конечно, это не сработает, поскольку Twig будет всегда загружать шаблон из .../templates/mysite.</p>
    <p>Оказывается, чтобы это сработало, нужно добавить каталог прямо в конец каталогов ваших шаблонов, который является родителем всех других каталогов: .../templates  в нашем случае. Это имеет влияние на создание каждого файла шаблона внутри системы однозначно адресуемым. Большую часть времени вы будете использовать “нормальные” пути, но при желании расширить шаблон с заменяющей его версией, мы можем ссылаться на по полному пути его родителя в теге расширений:</p>
    {{ code('
{# page.twig in .../templates/mysite #}
{% extends "default/page.twig" %} {# from .../templates #}
    ') }}
    <p>Этот способ был вдохновлен следующей страницей Django wiki page:  http://code.djangoproject.com/wiki/ExtendingTemplates</p>

    <h3>Настройка синтаксиса</h3>
    <p>Twig позволяет некоторую настройку синтаксиса для разделителей блока. Не рекомендуется использовать эту функцию, поскольку шаблоны будут связаны с вашим пользовательским синтаксисом. Но для особых проектов есть смысл изменить значения по умолчанию.</p>
    <p>Чтобы изменить разделители блока, вам нужно создать свой собственный объект лексического анализатора:</p>
    {{ code("
$twig = new Twig_Environment();

$lexer = new Twig_Lexer($twig, array(
    'tag_comment'   => array('{#', '#}'),
    'tag_block'     => array('{%', '%}'),
    'tag_variable'  => array('{{', '}}'),
    'interpolation' => array('#{', '}'),
));
$twig->setLexer($lexer);
    ") }}
    <p>Вот пример конфигурации, который воспроизводит синтаксис  некоторых других шаблонных механизмов:</p>
    {{ code("
// Ruby erb syntax
$lexer = new Twig_Lexer($twig, array(
    'tag_comment'  => array('<%#', '%>'),
    'tag_block'    => array('<%', '%>'),
    'tag_variable' => array('<%=', '%>'),
));

// SGML Comment Syntax
$lexer = new Twig_Lexer($twig, array(
    'tag_comment'  => array('<!--#', '-->'),
    'tag_block'    => array('<!--', '-->'),
    'tag_variable' => array('${', '}'),
));

// Smarty like
$lexer = new Twig_Lexer($twig, array(
    'tag_comment'  => array('{*', '*}'),
    'tag_block'    => array('{', '}'),
    'tag_variable' => array('{$', '}'),
));
    ") }}

    <h3>Использование свойств динамического объекта</h3>
    <p>Когда Twig обнаруживает переменную article.title, он пытается найти общедоступное свойство title в объекте article.</p>
    <p>Это также работает, если свойство не существует, но довольно таки определяется динамически, благодаря магическому методу __get(); вам просто нужно также применить магический метод __isset(), как показано на следующем отрывке кода:</p>
    {{ code("
class Article
{
    public function __get($name)
    {
        if ('title' == $name) {
            return 'The title';
        }

        // throw some kind of error
    }

    public function __isset($name)
    {
        if ('title' == $name) {
            return true;
        }

        return false;
    }
}
    ") }}

    <h3>Получения доступа к родительскому контексту во вложенных циклах</h3>
    <p>Иногда, когда используют вложенные циклы, необходимо получить доступ к родительскому контексту. Родительский контекст всегда доступен через переменную loop.parent. Например, если вы имеете следующие данные шаблона:</p>
    {{ code("
$data = array(
    'topics' => array(
        'topic1' => array('Message 1 of topic 1', 'Message 2 of topic 1'),
        'topic2' => array('Message 1 of topic 2', 'Message 2 of topic 2'),
    ),
);
    ") }}
    <p>И следующий шаблон, чтобы изобразить на экране все сообщения по всем темам:</p>
    {{ code("
{% for topic, messages in topics %}
    * {{ loop.index }}: {{ topic }}
  {% for message in messages %}
      - {{ loop.parent.loop.index }}.{{ loop.index }}: {{ message }}
  {% endfor %}
{% endfor %}
    ") }}
    <p>Результат будет схож с:</p>
    {{ code("
* 1: topic1
  - 1.1: The message 1 of topic 1
  - 1.2: The message 2 of topic 1
* 2: topic2
  - 2.1: The message 1 of topic 2
  - 2.2: The message 2 of topic 2
    ") }}
    <p>Во внутреннем цикле переменная используется loop.parent для того, чтобы получить доступ к внешнему контексту. Таким образом, индекс текущего topic, определенный во внешнем для цикла, доступен через переменную loop.parent.loop.index.</p>

    <h3>Определение неопределенных функций и фильтров на лету</h3>
    <p>Когда функция (или фильтр) неопределена, Twig по умолчанию выдает исключения Twig_Error_Syntax. Однако он может также вызвать callback (любую доступную PHP вызываемую), который  должен вернуть функцию (или фильтр).</p>
    <p>Для фильтров обратные вызовы регистра с registerUndefinedFilterCallback(). Для функций используйте registerUndefinedFunctionCallback():</p>
    {{ code("
// auto-register all native PHP functions as Twig functions
// don't try this at home as it's not secure at all!
$twig->registerUndefinedFunctionCallback(function ($name) {
    if (function_exists($name)) {
        return new Twig_Function_Function($name);
    }

    return false;
});
    ") }}
    <p>Если вызываемый не способен вернуть допустимую функцию (или фильтр), он должен вернуть false.</p>
    <p>Если вы регистрируете более чем один обратный вызов, Twig будет вызывать их по очереди пока он не вернет false.</p>
    {%
        include 'blocks/quote.twig'
        with {'text': "Поскольку разрешение функций и фильтров сделано во время компиляции , то нет накладных расходов, когда регистрируются эти обратные вызовы."}
    %}
    <h3>Проверка шаблона на валидность</h3>
    <p>Когда код шаблона поддерживается третьим лицом (например, через веб-интерфейс), может быть интересным проверить синтаксис шаблона перед тем, как сохранить его. Если код шаблона хранится в переменной  $template, вот как вы можете сделать это:</p>
    {{ code("
try {
    $twig->parse($twig->tokenize($template));

    // the $template is valid
} catch (Twig_Error_Syntax $e) {
    // $template contains one or more syntax errors
}
    ") }}
    <p>Если вы выполните итерации по ряду файлов, вы можете передать имя файла на метод tokenize(), чтобы получить имя файла в сообщении  в случае исключения:</p>
    {{ code("
foreach ($files as $file) {
    try {
        $twig->parse($twig->tokenize($template, $file));

        // the $template is valid
    } catch (Twig_Error_Syntax $e) {
        // $template contains one or more syntax errors
    }
}
    ") }}
    {%
        include 'blocks/quote.twig'
        with {'text': "Этот метод не будет обнаруживать нарушения политики песочницы, потому что политика осуществляется во время рендеринга шаблонов (поскольку Twig нуждается в контексте для некоторых проверок, таких как разрешенные методы на объект)."}
    %}

    <h3>Обновление измененных шаблонов когда APC включена и apc.stat = 0</h3>
    <p>При использовании АРС с apc.stat , установленном на 0, и включенном кэше Twig , очистка  кэша не будет обновлять кэш АРС. Чтобы обойти эту проблему, можно расширить Twig_Environment, и вызвать обновление кэша АРС, когда кэш Twig переписывает кэш:</p>
    {{ code("
class Twig_Environment_APC extends Twig_Environment
{
    protected function writeCacheFile($file, $content)
    {
        parent::writeCacheFile($file, $content);

        // Compile cached file into bytecode cache
        apc_compile_file($file);
    }
}
    ") }}
    <h3>Повторное использование с сохранением состояния Node Visitor</h3>
    <p>При присоединении к экземпляру Twig_Environment, Twig использует его чтобы посетить все шаблоны, которые он компилирует. Если вам необходимо иметь в наличии информацию о состоянии, то вы вероятно захотите сбросить ее при посещении нового шаблона.</p>
    <p>Этого можно легко достигнуть  с помощью следующего кода:</p>
    {{ code("
protected $someTemplateState = array();

public function enterNode(Twig_NodeInterface $node, Twig_Environment $env)
{
    if ($node instanceof Twig_Node_Module) {
        // reset the state as we are entering a new template
        $this->someTemplateState = array();
    }

    // ...

    return $node;
}
    ") }}
    <h3>Использование именованного шаблона для установки дефолтного экранирования</h3>
    {%
        include 'blocks/quote.twig'
        with {'text': "Данный функционал требует Twig версии 1.8 или выше."}
    %}
    <p>Опция autoescape определяет использовании стратегии сохранения по умолчанию, когда никакого сохранения не применяется для переменной. Когда Twig используется, чтобы главным образом генерировать файлы HTML, вы можете установить его на html и явно поменять его на js, когда вы имеете несколько динамических файлов JavaScript благодаря тегу autoescape:</p>
    {{ code("
{% autoescape 'js' %}
    ... some JS ...
{% endautoescape %}
    ") }}
    <p>Но если вы имеете много файлов HTML и JS, и если ваши имена шаблонов следуют некоторым соглашениям, вы вместо этого можете определить стратегию сохранения по умолчанию, основанную на имени шаблона. Скажем, что имена ваших шаблонов всегда оканчиваются на .html для файлов HTML, а .js для таковых JavaScript и .css для таблиц стилей, то вот как вы можете конфигурировать Twig:</p>
    {{ code("
class TwigEscapingGuesser
{
    function guess($filename)
    {
        // get the format
        $format = substr($filename, strrpos($filename, '.') + 1);

        switch ($format) {
            case 'js':
                return 'js';
            case 'css':
                return 'css';
            case 'html':
            default:
                return 'html';
        }
    }
}

$loader = new Twig_Loader_Filesystem('/path/to/templates');
$twig = new Twig_Environment($loader, array(
    'autoescape' => array(new TwigEscapingGuesser(), 'guess'),
));
    ") }}
    <p>Эта динамическая стратегия не приводит к накладным расходам во время выполнения, поскольку автосохранение происходит во время компиляции.</p>

    <h3>Хранение шабловн в базе данных</h3>
    <p>При разработке CMS, шаблоны обчно хранятся в базе данных. Twig дает набор команд для простой загрузки шаблонов PDO, который вы можете использовать как отправную точку.</p>
    <p>Для начала, давайте создадим временную базу данных в памяти SQLite3 чтобы в дальнейшем с ней работать:</p>
    {{ code("
$dbh = new PDO('sqlite::memory:');
$dbh->exec('CREATE TABLE templates (name STRING, source STRING, last_modified INTEGER)');
$base = '{% block content %}{% endblock %}';
$index = '
{% extends &#34;base.twig&#34; %}
{% block content %}Hello {{ name }}{% endblock %}
';
$now = time();
$dbh->exec(&#34;INSERT INTO templates (name, source, last_modified) VALUES ('base.twig', '$base', $now)&#34;);
$dbh->exec(&#34;INSERT INTO templates (name, source, last_modified) VALUES ('index.twig', '$index', $now)&#34;);
    ") }}
    <p>Мы создали простую таблицу templates, которая размещает два шаблона: base.twig и  index.twig.</p>
    <p>Теперь давайте определим загрузчик, способный использовать эту базу данных:</p>
    {{ code("
class DatabaseTwigLoader implements Twig_LoaderInterface, Twig_ExistsLoaderInterface
{
    protected $dbh;

    public function __construct(PDO $dbh)
    {
        $this->dbh = $dbh;
    }

    public function getSource($name)
    {
        if (false === $source = $this->getValue('source', $name)) {
            throw new Twig_Error_Loader(sprintf('Template &#34;%s&#34; does not exist.', $name));
        }

        return $source;
    }

    // Twig_ExistsLoaderInterface as of Twig 1.11
    public function exists($name)
    {
        return $name === $this->getValue('name', $name);
    }

    public function getCacheKey($name)
    {
        return $name;
    }

    public function isFresh($name, $time)
    {
        if (false === $lastModified = $this->getValue('last_modified', $name)) {
            return false;
        }

        return $lastModified <= $time;
    }

    protected function getValue($column, $name)
    {
        $sth = $this->dbh->prepare('SELECT '.$column.' FROM templates WHERE name = :name');
        $sth->execute(array(':name' => (string) $name));

        return $sth->fetchColumn();
    }
}
    ") }}
    <p>И, наконец, вот пример того, как вы можете ее использовать:</p>
    {{ code("
$loader = new DatabaseTwigLoader($dbh);
$twig = new Twig_Environment($loader);

echo $twig->render('index.twig', array('name' => 'Fabien'));
    ") }}

    <h3>Использование различных частей шаблона</h3>
    <p>Этот набор команд является продолжением предыдущего набора. Даже если вы храните внесенные шаблоны в базе данных, вы могли бы захотеть хранить базовые шаблоны в системе файлов. Когда шаблоны могут быть загружены из разных источников, вам нужно использовать загрузчик Twig_Loader_Chain.</p>
    <p>Как вы можете видеть из предыдущего способа, мы ссылаемся на шаблон точно таким же образом, как мы бы сделали это с постоянным загрузчиком системы файлов. Это ключ, способный смешать или сопоставить шаблоны, идущие из базы данных, системы файлов или любого другого загрузчика в этом отношении: имя шаблона должно быть логическим именем, а не путем из файловой системы:</p>
    {{ code("
$loader1 = new DatabaseTwigLoader($dbh);
$loader2 = new Twig_Loader_Array(array(
    'base.twig' => '{% block content %}{% endblock %}',
));
$loader = new Twig_Loader_Chain(array($loader1, $loader2));

$twig = new Twig_Environment($loader);

echo $twig->render('index.twig', array('name' => 'Fabien'));
    ") }}
    <p>Теперь, когда шаблон base.twig определен в загрузчике массива, вы можете удалить его из базы данных, а все остальное будет работать как раньше.</p>
{% endblock %}