{% extends "base.twig" %}

{% block title %}TWIG для програмистов{% endblock %}

{% block content %}

	<h1 class="page-name">TWIG для програмистов</h1>
	<p>В этой главе описывается API для Twig, a не язык  шаблонов. Это будет наиболее полезным в качестве ссылки для тех, кто реализует интерфейс шаблонов для приложений , а не тем, кто создает шаблоны Twig.</p>

	<h3>Основы</h3>
	<p>Twig использует центральный объект, называемый <b>environment</b> (класс Twig_Environment). Экземпляры этого класса используются для хранения конфигурации и расширений и используются для загрузки шаблонов из файловой системы или других мест.</p>
	<p>Большинство приложений создает один объект Twig_Environment при инициализации приложения и использует его для загрузки шаблонов. В некоторых случаях, однако, полезно иметь несколько сред совместно (рядом друг с другом), если используются различные конфигурации.</p>
	<p>Самый простой способ конфигурировать Twig - это загрузить шаблоны для вашего приложения, что выглядит примерно так:</p>
	{{ code("
require_once '/path/to/lib/Twig/Autoloader.php';
Twig_Autoloader::register();

$loader = new Twig_Loader_Filesystem('/path/to/templates');
$twig = new Twig_Environment($loader, array(
    'cache' => '/path/to/compilation_cache',
));
	") }}
	<p>Это создаст среду шаблона с настройками по умолчанию и загрузчик, который ищет шаблоны  в папке /path/to/templates/.  Также доступны различные загрузчики и вы можете написать свой ​​собственный, если вы хотите загрузить шаблоны из базы данных или других ресурсов.</p>


	{% 
		include 'blocks/quote.twig'
		with {'text': "
			<p>Обратите внимание, что вторым параметром окружающей среды является массив опций. Опция cache есть компилирование директории кэша, где Twig кэширует скомпилированные шаблоны чтобы избежать парсинга для дополнительных запросов. Это отличается от кэша , который вы возможно хотите добавить для уже вычисленных шаблонов.</p>
			<p>При такой необходимости, вы можете использовать любую доступную PHP библиотеку кэширования.</p>
		"}
	%}
	<p>Для загрузки шаблона из этой среды вам просто нужно вызвать loadTemplate() метод, который возвращает затем экземпляр Twig_Template:</p>
	{{ code("
$template = $twig->loadTemplate('index.html');
	") }}
	<p>Чтобы передать  переменные в шаблон,  вызовите метод render():</p>
	{{ code("
echo $template->render(array('the' => 'variables', 'go' => 'here'));
	") }}
	{% 
		include 'blocks/quote.twig'
		with {'text': "Метод display() это наиболее простой метод  вывести шаблон явно."}
	%}
	<p>Вы можете также загрузить и воспроизвести шаблон одновременно:</p>
	{{ code("
echo $twig->render('index.html', array('the' => 'variables', 'go' => 'here'));
	") }}

	<h3>Опции окружения.</h3>
	<p>При создании нового экземпляра Twig_Environment, вы можете передать массив опций как конструктор второго аргумента:</p>
	{{ code("
$twig = new Twig_Environment($loader, array('debug' => true));
	") }}
	<p>Доступны следующие опции:</p>
	<ul>
		<li>debug: При установке в true,  генерируемые шаблоны имеют__toString()  метод, который можно использовать для отображения сгенерированных узлов (по  умолчанию false).</li>
		<li>charset: Кодировка, используемая в шаблонах (по умолчанию в UTF-8)</li>
		<li>base_template_class: Шаблон базового класса ,который используют для сгенерированных шаблонов (по умолчанию  Twig_Template).</li>
		<li>cache: Абсолютный путь, где хранятся скомпилированные шаблоны или false чтобы отключить кэширование (который по умолчанию).</li>
		<li>auto_reload: При разработке с Twig, полезно повторно компилировать шаблон при изменении кода-исходника. Если вы не установили значение опции auto_reload, то она будет определена автоматически на основании переменной debug. </li>
		<li>strict_variables: Если установлено false, Twig будет по умолчанию игнорировать недействительные переменные (переменные и или  атрибуты/методы, которые не существуют) и заменять их значением null. Когда устанавлено true, Twig  генерирует исключение (по умолчанию false).</li>
		<li>autoescape: Если установить true, авто-сохранение будет разрешено по умолчанию для всех шаблонов (по умолчанию true). Начиная с  Twig 1.8, вы можете выбрать какую методику сохранения использовать  (html, js, false для блокировки). Начиная с  Twig 1.9, вы можете выбрать какую методику сохранения использовать  (css, url, html_attr, или обратный вызов PHP, который берет шаблон “имя файла” и должен вернуть методику сохранения для использования  --  обратный вызов не может быть названием функции, чтобы избежать конфликта (коллизии) со встроенными методами сохранения. 
		optimizations: Флаг, который указывает, какие оптимизации применять (по умолчанию  -1 -- все оптимизации разрешены; установите его на 0 для отключения).</li>
	</ul>

	<h3>Загрузчики</h3>
	<p>Загрузчики отвечают за загрузку шаблонов из такого ресурса, как файловая система.</p>
	<b>Компиляция кэша</b>
	<p>Все загрузчики шаблонов могут кэшировать компилированные шаблоны в файловой системе для дальнейшего использования. Это значительно ускоряет Twig, поскольку шаблоны компилируются только один раз и увеличение производительности даже больше, если бы вы использовали ускоритель PHP, такой как APC. Смотрите  cache и auto_reload опции Twig_Environment выше для получения подробной информации.</p>
	<b>Встроенные загрузчики</b>
	<p>Вот список встроенных загрузчиков, которые дает Twig:</p>
	<p>Twig_Loader_Filesystem</p>

	<p>Новое в версии 1.10: prependPath() и поддержка пространства имен были добавлены в Twig 1.10.</p>
	<p>Twig_Loader_Filesystem загружает шаблоны из файловой системы. Этот загрузчик может находить шаблоны в папках файловой системы и это предпочтительный способ для их загрузки:</p>
	{{ code("
$loader = new Twig_Loader_Filesystem($templateDir);
	") }}
	<p>Он может также искать шаблоны в массиве директорий:</p>
	{{ code("
$loader = new Twig_Loader_Filesystem(array($templateDir1, $templateDir2));
	") }}
	<p>При такой конфигурации Twig будет сначала искать шаблоны в $templateDir1 и если они не существуют, и он будет  искать их в $templateDir2.</p>
	<p>Вы можете добавить или вставить каналы (пути) с помощью методов addPath() и prependPath().</p>
	{{ code("
$loader->addPath($templateDir3);
$loader->prependPath($templateDir4);
	") }}
	<p>Загрузчик файловой системы также поддерживает шаблоны пространства имен. Это позволяет группировать ваши шаблоны под различными пространствами имен, которые имеют их собственные пути шаблонов.</p>
	<p>Используя методы setPaths(), addPath(), и prependPath(), определите пространство имен как второй аргумент ( если нет определения, то эти методы действуют на пространстве имени “main”).</p>
	{{ code("
$loader->addPath($templateDir, 'admin');
	") }}
	<p>Шаблоны пространства имен могут быть доступны через специальное обозначение @namespace_name/template_path:</p>
	{{ code("
$twig->render('@admin/index.html', array());
	") }}
	<p>Twig_Loader_String загружает шаблоны из строк. Это является простейшим загрузчиком, поскольку ссылка на шаблон является кодом  шаблона:</p>
	{{ code("
$loader = new Twig_Loader_String();
$twig = new Twig_Environment($loader);

echo $twig->render('Hello {{ name }}!', array('name' => 'Fabien'));
	") }}
	
	<p>Этот загрузчик следует использовать только для unit-тестирования , поскольку он имеет строгие ограничения: несколько тегов, такие как extends или  include не имеет смысла использовать, поскольку ссылка на шаблон сама является кодом источника шаблона.</p>
	<p>Twig_Loader_Array загружает шаблон из PHP массива. Это передается ограничением  массива строк до имен шаблонов.</p>
	
	{{ code("
$loader = new Twig_Loader_Array(array(
    'index.html' => 'Hello {{ name }}!',
));
$twig = new Twig_Environment($loader);

echo $twig->render('index.html', array('name' => 'Fabien'));
	") }}
	<p>Этот загрузчик очень полезен для unit-тестирования. Он также может быть использован для малых проектов, где хранение всех шаблонов может иметь смысл в одном PHP файле.</p>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Когда вы используете загрузчики массива строк с механизмом кэша, вам следует знать, что новый ключ кэша генерируется каждый раз в содержание шаблона “меняется”  (ключ кэша является кодом-исходником шаблона). Если вы не хотите видеть, что ваш кэш переполняется, вам нужно позаботиться об очистке файла кэша самому. "}
	%}
	<p>Twig_Loader_Chain перенаправляет загрузку шаблонов к другим загрузчикам:</p>
	{{ code("
$loader1 = new Twig_Loader_Array(array(
    'base.html' => '{% block content %}{% endblock %}',
));
$loader2 = new Twig_Loader_Array(array(
    'index.html' => '{% extends &#34;base.twig&#34; %}{% block content %}Hello {{ name }}{% endblock %}',
    'base.html'  => 'Will never be loaded',
));

$loader = new Twig_Loader_Chain(array($loader1, $loader2));

$twig = new Twig_Environment($loader);
	") }}
	<p>При поиске шаблона Twig будет пробовать каждый загрузчик по очереди и он будет возвращаться как только шаблон найдется. При рендеринге шаблона index.html из вышеуказанного примера, Twig будет пытаться загрузить его с помощью $loader2, но  base.html будет загружен из $loader1.</p>
	<p>Twig_Loader_Chain принимает любой загрузчик, который реализует Twig_LoaderInterface.</p>
	<p>Вы также можете добавить загрузчики с помощью addLoader() метода.</p>
	<h3>Создайте свой собственный загрузчик</h3>
	<p>Все загрузчики реализуют Twig_LoaderInterface:</p>
	{{ code("
interface Twig_LoaderInterface
{
    /**
     * Gets the source code of a template, given its name.
     *
     * @param  string $name string The name of the template to load
     *
     * @return string The template source code
     */
    function getSource($name);

    /**
     * Gets the cache key to use for the cache for a given template name.
     *
     * @param  string $name string The name of the template to load
     *
     * @return string The cache key
     */
    function getCacheKey($name);

    /**
     * Returns true if the template is still fresh.
     *
     * @param string    $name The template name
     * @param timestamp $time The last modification time of the cached template
     */
    function isFresh($name, $time);
}
	") }}
	<p>В качестве примера, так выглядит встроенный Twig_Loader_String:</p>
	{{ code("
class Twig_Loader_String implements Twig_LoaderInterface
{
    public function getSource($name)
    {
      return $name;
    }

    public function getCacheKey($name)
    {
      return $name;
    }

    public function isFresh($name, $time)
    {
      return false;
    }
}
	") }}
	<p>Метод isFresh() должен вернуть true, если текущий шаблон в кэше еще свежий, учитывая время последнего изменения или false в противном случае.</p>
	{% 
		include 'blocks/quote.twig'
		with {'text': "C Twig 1.11.0 можно также реализовать Twig_ExistsLoaderInterface, чтобы сделать ваш загрузчик быстрее при использовании с цепочкой загрузчиков."}
	%}

	<h3>Использование расширений</h3>
	<p>Расширения Twig - это пакеты, которые добавляют новые функции в Twig. Использование расширений так же просто, как с помощью метода addExtension ():</p>
	{{ code("
$twig->addExtension(new Twig_Extension_Sandbox());
	") }}
	<p>Twig поставляется в комплекте со следующими расширениями:</p>
	<ul>
		<li>Twig_Extension_Core: Определяет все основные возможности Twig.</li>
		<li>Twig_Extension_Escaper: Добавляет автоматический вывод данных-сохранение, а также возможность сохранить/пропустить  блоки кода.</li>
		<li>Twig_Extension_Sandbox: Добавляет изолированный режим в среду Twig по умолчанию, что делает его безопасным для оценки ненадежного кода.</li>
		<li>Twig_Extension_Optimizer: Оптимизирует древо узлов перед компиляцией.</li>
	</ul>
	<p>Расширения сore, escaper и optimizer не нужно  добавлять к среде Twig environment, так как они выставлены по умолчанию.</p>

	<h3>Встроенные расширения</h3>
	<p>В этом разделе описываются функции, добавленные с помощью встроенных расширений.</p>
	{% 
		include 'blocks/quote.twig'
		with {'text': "Прочитайте главу о расширении Twig чтобы узнать, как создавать свои собственные расширения."}
	%}
	<h3>Расширениe ядра</h3>
	<p>Расширения ядра определяет все основные особенности Twig:</p>
	<ul>
		<li><a href="/tags/">Теги;</a></li>
		<li><a href="/filters/">Фильтры;</a></li>
		<li><a href="/functions/">Функции;</a></li>
		<li><a href="/tests/">Тесты</a></li>
	</ul>

	<h3>Расширение Escaper</h3>
	<p>Расширение escaper добавляет автоматическое сохранение вывода в Twig. Это определяет тег autoescape и фильтр raw.</p>
	<p>При создании расширения сохранения, вы можете включить или выключить вывод глобального сохранения:</p>
	{{ code("
$escaper = new Twig_Extension_Escaper('html');
$twig->addExtension($escaper);
	") }}
	<p>Если установлено HTML, все переменные в шаблонах будут сохранены (с помощью HTML стратегии сохранения), за исключением тех, которые используют фильтр raw:</p>
	{{ code("
{{ article.to_html|raw }}
	") }}
	<p>Вы также можете изменить режим сохранения локально с помощью тега autoescape (смотрите autoescape документ для синтаксиса, используемого до Twig 1.8):</p>
	{{ code("
{% autoescape 'html' %}
    {{ var }}
    {{ var|raw }}      {# var won't be escaped #}
    {{ var|escape }}   {# var won't be double-escaped #}
{% endautoescape %}
	") }}

	<p>Правила сохранения реализуются следующим образом:</p>
	<ul>
		<li>
			<p>Литералы (целые числа, логические значения, массивы, ...) используются в шаблоне непосредственно как переменные или аргументы фильтра, которые никогда не сохраняются  автоматически:</p>
			{{ code("
{ &quot;Twig<br />&quot; }} {# won't be escaped #}

{% set text = &quot;Twig<br />&quot; %}
{{ text }} {# will be escaped #}
			") }}
		</li>
		<li>
			<p>Выражения, результатом которых всегда являются литерал или переменная, помечаются как безопасные и никогда автоматически не сохраняются:</p>
			{{ code("
{{ foo ? &quot;Twig<br />&quot; : &quot;<br />Twig&quot; }} {# won't be escaped #}

{% set text = &quot;Twig<br />&quot; %}
{{ foo ? text : &quot;<br />Twig&quot; }} {# will be escaped #}

{% set text = &quot;Twig<br />&quot; %}
{{ foo ? text|raw : &quot;<br />Twig&quot; }} {# won't be escaped #}

{% set text = &quot;Twig<br />&quot; %}
{{ foo ? text|escape : &quot;<br />Twig&quot; }} {# the result of the expression won't be escaped #}
			") }}
		</li>
		<li>
			<p>Сохранение применяется перед печатью, после любого другого фильтра:</p>
			{{ code("
{{ var|upper }} {# is equivalent to {{ var|upper|escape }} #}
			") }}
		</li>
		<li>
			<p>Грубый фильтр следует использовать только в конце цепочки фильтров:</p>
			{{ code("
{{ var|raw|upper }} {# will be escaped #}

{{ var|upper|raw }} {# won't be escaped #}
			") }}
		</li>
		<li>
			<p>Автоматическое  сохранение не применяется, если последний фильтр в цепочке помечен как безопасный для текущего контекста (например, html или js). escape и escape('html') отмечен безопасным для HTML, escape('js') отмечен безопасным для JavaScript, raw отмечен безопасным для всего остального.</p>
			{{ code("
{% autoescape 'js' %}
    {{ var|escape('html') }} {# will be escaped for HTML and JavaScript #}
    {{ var }} {# will be escaped for JavaScript #}
    {{ var|escape('js') }} {# won't be double-escaped #}
{% endautoescape %}
			") }}
		</li>
	</ul>
	<p>Обратите внимание, что автосохранение имеет некоторые ограничения, такое как сохранение, применимое для выражений после вычисления. Например, при работе с конкатенацией, {{ foo|raw ~ bar }}  не дает ожидаемого результата, так как сохранение применяется к результату конкатенации, а не к отдельным переменным (так, raw фильтр не будет никак влиять здесь).</p>

	<h3>Расширение Sandbox</h3>
	<p>Расширения «песочницы» могут быть использованы для оценки небезопасного кода. Доступ к небезопасным свойствам и методам запрещен. </p>
	<p>Безопасность «песочницы» регулируется policy instance. По умолчанию Twig обладает лишь одной классовой политикой: Twig_Sandbox_SecurityPolicy. Этот класс позволяет внести в «белый» список некоторые тэги, фильтры, значения и методы:</p>
	{{ code("
$tags = array('if');
$filters = array('upper');
$methods = array(
    'Article' => array('getTitle', 'getBody'),
);
$properties = array(
    'Article' => array('title', 'body'),
);
$functions = array('range');
$policy = new Twig_Sandbox_SecurityPolicy($tags, $filters, $methods, $properties, $functions);
	") }}
	<p>С такими настройками вы можете использование лишь тег if и фильтр upper. Кроме того, шаблоны будут способны вызывать только методы getTitle() и getBody() в объекте Article а title и body становятся общедоступными свойствами. Все остальные методы и свойства будут запрещены, и при обращении к ним будет генерировать Twig_Sandbox_SecurityError исключение.</p>
	<p>Объект policy является первым аргументом конструктора Sandbox:</p>
	{{ code("
$sandbox = new Twig_Extension_Sandbox($policy);
$twig->addExtension($sandbox);
	") }}
	<p>По умолчанию режим Sandbox отключен и его следует включить, когда включается ненадежный код шаблона тега sandbox:</p>
	{{ code("
{% sandbox %}
    {% include 'user.html' %}
{% endsandbox %}
	") }}
	<p>Вы можете изолировать все шаблоны передавая true как второй аргумент для конструктора расширения:</p>
	{{ code("
$sandbox = new Twig_Extension_Sandbox($policy, true);
	") }}

	<h3>Расширение оптимизации</h3>
	<p>Расширение optimizer оптимизирует древо узлов до компиляции:</p>
	{{ code("
$twig->addExtension(new Twig_Extension_Optimizer());
	") }}
	<p>По умолчанию все оптимизации включены. Вы можете выбрать те, которые вы хотите активировать путем передачи их в конструктор:</p>
	{{ code("
$optimizer = new Twig_Extension_Optimizer(Twig_NodeVisitor_Optimizer::OPTIMIZE_FOR);

$twig->addExtension($optimizer);
	") }}
	<p>Twig  поддерживает следующие оптимизации:</p>
	<ul>
		<li>Twig_NodeVisitor_Optimizer::OPTIMIZE_ALL, включает все оптимизации(это значение по умолчанию).</li>
		<li>Twig_NodeVisitor_Optimizer::OPTIMIZE_NONE, Отключает все оптимизации. Это сокращает время компиляции, но может увеличить время исполнения и потребляемую память.</li>
		<li>Twig_NodeVisitor_Optimizer::OPTIMIZE_FOR, оптимизация for тега с помощью удаления создания переменной цикла, когда это возможно. </li>
		<li>Twig_NodeVisitor_Optimizer::OPTIMIZE_RAW_FILTER, удаляет необработанный фильтр всякий раз, когда это возможно.</li>
		<li>Twig_NodeVisitor_Optimizer::OPTIMIZE_VAR_ACCESS, упрощает создание и доступ переменных в скомпилированные шаблоны, когда это возможно.</li>
	</ul>

	<h3>Исключения</h3>
	<p>Twig может выбрасывать исключения:</p>
	<ul>
		<li>Twig_Error: Основное исключение для всех ошибок.</li>
		<li>Twig_Error_Syntax: Выбрасывается для того, чтобы сообщить пользователю, что есть проблема с синтаксисом шаблона.</li>
		<li>Twig_Error_Runtime: Выбрасывается когда возникает ошибка во время выполнения (например, когда фильтр не существует).</li>
		<li>Twig_Error_Loader: Выбрасывается при возникновении ошибки во время загрузки шаблона.</li>
		<li>Twig_Sandbox_SecurityError: Выбрасывается когда неразрешенный тег, фильтр, или метод вызывается из изолированного шаблона.</li>
	</ul>

{% endblock %}