{% extends "base.twig" %}

{% block title %}Устройство Twig{% endblock %}

{% block content %}
    <h1>Устройство Twig</h1>
    <p>Twig очень расширяемый и вы можете легко взломать его. Имейте в виду, что вы должны, вероятно, попытаться создать расширение перед взломом ядра, так как большинство функций и усовершенствований могут быть обработаны с помощью расширений. Эта глава также полезна для людей, которые хотят понять, как Twig устроен изнутри.</p>

    <h3>Как работает Twig?</h3>
    <p>Рендеринг шаблона Twig может быть представлен в виде четырех основных этапов:</p>
    <ul>
        <li>
            <p>Загрузка шаблона: Если шаблон уже скомпилирован, загрузите его и переходите к этапу оценки, в противном случае:</p>
            <ul>
                <li>Во-первых, lexer разбивает на мелкие кусочки (лексемы) код-исходник шаблона для облегчения обработки;</li>
                <li>Затем parser преобразует поток лексем в осмысленное дерево узлов (the Abstract Syntax Tree);</li>
                <li>И затем, компилятор преобразует AST в PHP код.</li>
            </ul>
        </li>
        <li>Оценка шаблона: Это в основном означает вызов метода  display()  из скомпилированного шаблона и передачи ему контекста.</li>
    </ul>

    <h3>Лексер</h3>
    <p>Лексер разбивает на лексемы код-исходник шаблона в поток символов (каждый символ является экземпляром Twig_Token, и поток является экземпляром Twig_TokenStream). Лексер по умолчанию распознает 13 различных типов символов:</p>
    <ul>
        <li>Twig_Token::BLOCK_START_TYPE, Twig_Token::BLOCK_END_TYPE: Разделители для блоков ({{'{% %}'}})</li>
        <li>Twig_Token::VAR_START_TYPE, Twig_Token::VAR_END_TYPE: Разделители для переменных ({{'{{ }}'}})</li>
        <li>Twig_Token::TEXT_TYPE: Текст за пределами выражения;</li>
        <li>Twig_Token::NAME_TYPE: Имя в выражении;</li>
        <li>Twig_Token::NUMBER_TYPE: Число в выражении;</li>
        <li>Twig_Token::STRING_TYPE: Строка в выражении;</li>
        <li>Twig_Token::OPERATOR_TYPE: Оператор;</li>
        <li>Twig_Token::PUNCTUATION_TYPE: Знак пунктуации;</li>
        <li>Twig_Token::INTERPOLATION_START_TYPE, Twig_Token::INTERPOLATION_END_TYPE (начиная с Twig 1.5): Разделители для строчной интерполяции;</li>
        <li>Twig_Token::EOF_TYPE: Конец шаблона.</li>
    </ul>
    <p>Вы можете вручную преобразовать код-исходник в поток символов вызовом метода среды tokenize():</p>
    {{ code("
$stream = $twig->tokenize($source, $identifier);
    ") }}
    <p>Поскольку поток имеет метод __toString(), вы можете иметь текстовое представление объекта с помощью команды echo:</p>
    {{ code('
echo $stream."\n";
    ') }}
    <p>Далее представлен результат для шаблона Hello {{'{{ name }}'}}:</p>
    {{ code("
TEXT_TYPE(Hello )
VAR_START_TYPE()
NAME_TYPE(name)
VAR_END_TYPE()
EOF_TYPE()
    ") }}

    {% set cod = code("
$twig->setLexer($lexer);
    ", true) %}
    {%
        include 'blocks/quote.twig'
        with {'text': "<p>По умолчанию лексер (Twig_Lexer) может быть изменен с помощью вызова метода setLexer():</p> #{cod}"}
    %}

    <h3>Парсер</h3>
    <p>Парсер преобразует поток символов в AST (Abstract Syntax Tree), или узел дерева (экземпляр Twig_Node_Module). Расширение ядра определяет основные узлы, как: for, if, ... и узлы выражения.</p>
    <p>Вы можете вручную преобразовать поток символов в древо узлов, вызвав метод  parse():</p>
    {{ code("
$nodes = $twig->parse($stream);
    ") }}
    <p>Команда echo для  объекта узел  представит дерево в удобной форме:</p>
    {{ code('
echo $nodes."\n";
    ') }}
    <p>Ниже показан результат для шаблона Hello {{'{{ name }}'}} :</p>
    {{ code('
Twig_Node_Module(
  Twig_Node_Text(Hello )
  Twig_Node_Print(
    Twig_Node_Expression_Name(name)
  )
)
    ') }}
    {% set cod = code("$twig->setParser($parser);", true) %}
    {%
        include 'blocks/quote.twig'
        with {'text': "<p>По умолчанию парсер (Twig_TokenParser)  может быть изменен с помощью вызова метода setParser():</p> #{cod}"}
    %}

    <h3>Компилятор</h3>
    <p>Последний шаг осуществляется компилятором. Он принимает древо узлов на вход и генерирует PHP код, чтобы он был пригодным для выполнения шаблона.</p>
    <p>Вы можете вручную скомпилировать древо узлов в PHP код методом среды compile():</p>
    {{ code("$php = $twig->compile($nodes);") }}
    <p>Сгенерированный шаблон для Hello {{ name }} шаблона выглядит следующим образом (фактический результат может отличаться в зависимости от версии Twig, которую вы используете):</p>
    {{ code('
/* Hello {{ name }} */
class __TwigTemplate_1121b6f109fe93ebe8c6e22e3712bceb extends Twig_Template
{
    protected function doDisplay(array $context, array $blocks = array())
    {
        // line 1
        echo "Hello ";
        echo twig_escape_filter($this->env, $this->getContext($context, "name"), "ndex", null, true);
    }

    // some more code
}
    ') }}
    {% set cod = code("$twig->setCompiler($compiler);", true) %}
    {%
        include 'blocks/quote.twig'
        with {'text': "<p>Компилятор по умолчанию (Twig_Compiler) может быть изменен с помощью вызова метода setCompiler():</p> #{cod}"}
    %}




{% endblock %}